.team-links{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  flex-direction: row;
}

.team-links a{
  border: 1px solid black;
  margin: 5px;
  border-radius: 1px;
  padding: 5px;
  color: #34495e;
}

.team-links a:hover{
  border: 1px solid black;
  margin: 5px;
  border-radius: 1px;
  padding: 5px;
  background: white;
  color: black;
  width: 40px;
}
