<%= render "sidebar" %>
<div class='profile-content'>
<table>
<tr>
  <td>Property ID</td>
  <td>City</td>
</tr>
  <% @properties.each do |property| %>
    <tr>
      <td><%= property.id %></td>
      <td><%= property.city %></td>
    </tr>
  <% end %>
</table>
  Team ID:
  <%= @team.id %>
  <!-- TODO: Display relevant profile information. -->
</div>
