<%= render "sidebar" %>
<div class='profile-content'>
  <% @properties.each do |property| %>
  Property ID:
  <%= property.id %>
  <% end %>
  Team ID:
  <%= @team.id %>
  <!-- TODO: Display relevant profile information. -->
</div>
