<%= render "sidebar" %>
<div class='profile-content'>
  <%= user = User.find(session[:user_id]) %>
  <%= user.username %>
  <%= properties = User.properties %>
  <!-- TODO: Display relevant profile information. -->
</div>
