<section id="sidebar">
  <div class="white-label">
  </div>
  <div id="sidebar-nav">
    <ul>
      <li><a href="/users"><i class="fa fa-profile"></i> Profile</a></li>
      <li class="active"><a href="#"><i class="fa fa-usd"></i>Properties</a></li>
      <li><a href="/teams"><i class="fa fa-pencil-square-o"></i>Teams</a></li>
      <li><a href="/incentives"><i class="fa fa-sitemap"></i>Incentives</a></li>
      <li><a href="/trades"><i class="fa fa-line-chart"></i>Trades</a></li>
    </ul>
  </div>
</section>
