img {
  max-width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
#header {
  width: 100%;
  background: #ffffff;
  position: relative;
  z-index: 1;
}

.header-nav {
  min-height: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #2A2D33;
}
.menu-button {
  float: left;
  font-size: 29px;
  color: #fff;
  padding: 12px 19px;
}
.nav ul {
  height: 64px;
  float: right;
}
.nav ul li {
  float: left;
  position: relative;
  padding: 11px;
}
.nav > ul > li:first-child {
  border-left: none;
}
.nav ul li a {
  color: #fff;
  padding: 1px;
  float: left;
}

.nav ul li {
  color: #fff;
  padding: 1px;
  float: left;
}

.nav ul li i {
  color: #fff;
}
.nav ul li:hover {
  background: #01A9F0;
  color: #fff;
}
.user-profile {
  float: right;
}
.user-profile > div {
  float: left;
  padding: 20px 8px;
  position: relative;
}
.user-profile i {
  font-size: 1.2em;
  color: #5F6F86;
}
.user-profile i:hover {
  color: #397AC5;
}
.font-icon i:after {
  position: absolute;
  content: '3';
  background: #E74C3C;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 3px 4px 4px 3px;
  text-align: center;
  top: 12px;
  right: 11px;
}
.font-icon {
  padding: 8px 10px;
}
.font-icon i {
  font-size: 24px;
}
.nav-mail .font-icon i:after {
  background: #2ECC71;
}
div.user-image {
  padding: 9px 5px;
  margin: 0 5px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.nav-profile {
  background: #0274BD;
}
.nav-profile-image img {
  width: 39px;
  height: 41px;
  border-radius: 50%;
  float: left;
}
.nav-profile-name {
  float: right;
  margin: 11px 7px 8px 14px;
  color: #fff;
}
.nav-profile-name i {
  padding: 0 0 0 11px;
}
.nav-chat i:after {
  display: none;
}
