#welcome-options{
  width: 500px;
  height: 200px;
  top:50%; left: 50%;
  margin-left: -250px;
  margin-top: -150px;
  position: absolute;
  border: 3.5px solid #bdc3c7;
  background-color: white;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  display: flex;
  justify-content: space-between;
}

#login-btn{
  width:50%;
  border: 1px solid black;
  border-radius: 2px;
}

#signup-btn{
  width:50%;
  border: 1px solid black;
  border-radius: 2px;
}

#login-btn p{
  align-self: center;
}

#signup-btn p{
  align-self: center;
}
