.welcome-options{
  width: 500px;
  height: 100px;
  top:50%; left: 50%;
  margin-left: -250px;
  margin-top: -100px;
  position: absolute;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  display: flex;
  justify-content: space-between;
  #login-btn{
    width:50%;
    border-radius: 2px;
    background: #2A2D33;
    color: white;
    padding: 25px;
    font-size: 1.5em;
    margin: 5px;
    border: 2px solid #3498db;
    &:hover{
      background: black;
    }

  }
  #signup-btn{
    width:50%;
    border-radius: 2px;
    background: #2A2D33;
    color: white;
    padding: 25px;
    font-size: 1.5em;
    margin: 5px;
    border: 2px solid #3498db;
    &:hover{
      background: black;
    }
  }
}
