.profile-snap{
  width: 95%;
  background: #ecf0f1;
  display: flex;
  justify-content: space-evenly;
}

.cash_display{
  color: #59d56e;
  font-size: 1.25em;
  font-weight: 600;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
