<div class='shock-button-grid'>
  <%= link_to "Shock One", shockone_admin_properties_path %>
  <%= link_to "Shock Two", shocktwo_admin_properties_path %>
  <%= link_to "Shock Three", shockthree_admin_properties_path %>
  <%= link_to "Shock Four", shockfour_admin_properties_path %>
</div>
