<div class='shock-button-grid'>
  <%= link_to "Shock One", shock1_admin_properties_path %>
  <%= link_to "Shock Two", shock2_admin_properties_path %>
  <%= link_to "Shock Three", shock3_admin_properties_path %>
  <%= link_to "Shock Four", shock4_admin_properties_path %>
</div>
