<div id="header">
  <div class="header-nav">
    <div class="menu-button">
      <!--<i class="fa fa-navicon"></i>-->
    </div>
    <div class="nav">
      <ul>
        <li class="nav-profile">
          <%= link_to 'Logout', logout_path, :class => 'logout-btn' %>
        </li>
      </ul>
    </div>
  </div>
</div>
